*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:sans-serif;
}

body{
  height:100vh;
}

/* DAY THEME */
.dashboard{
position: relative;
  height:100vh;
  width:100%;
  position:relative;

  background-image:url("./image/morningtheme.jpg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;

  display:flex;
  align-items:center;
  justify-content:space-between;

  padding:40px;
}
.navbar{
    position:absolute;
    top:20px;
    left:0;
    width:100%;

    padding:0 30px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    color:white;
    z-index: 9999;
}
.theme-btn{
    width:55px;
    height:55px;

    border:none;
    border-radius:50%;

    cursor:pointer;

    font-size:22px;

    background:rgba(255,255,255,0.2);

    backdrop-filter:blur(10px);

    color:white;
}
/* NIGHT THEME */
.dashboard.dark{
  background-image:url("./image/nigththeme.jpg");
}

.overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.35);
}

.weather-card{
  position:relative;
  z-index:2;

  width:500px;
  min-height:220px;

  padding:25px;

  border-radius:20px;

  backdrop-filter:blur(10px);

  background:rgba(255,255,255,0.15);

  border:1px solid rgba(255,255,255,0.2);

  color:white;
}

.date{
  margin-bottom:20px;
  font-size:14px;
}

.card-content{
  display:flex;
  justify-content:space-between;
}

.left h1{
  font-size:40px;
}

.left h2{
  margin-top:10px;
  font-size:28px;
}

.left p{
  margin-top:30px;
}

.right{
  text-align:left;
}

.right h2{
  font-size:40px;
}

.right p{
  margin-top:10px;
}

.details{
  margin-top:30px;

  display:flex;
  flex-direction:column;
  gap:5px;

  font-size:14px;
}

/* RIGHT ICONS */

.nav-icons{
  position:relative;
  z-index:2;

  display:flex;
  flex-direction:column;
  gap:20px;
}

.circle-btn{
  width:60px;
  height:60px;

  border:none;
  border-radius:50%;

  cursor:pointer;

  font-size:30px;

  background:rgba(255,255,255,0.85);

  transition:.3s;
}

.circle-btn:hover{
  transform:scale(1.1);
}
/* hidden utility */
.hidden{
    display:none !important;
}

/* Schedule Page */

#schedule-page{
    width:100%;
    min-height:100vh;

    position:absolute;
    top:0;
    left:0;

    padding:30px;

    background:rgba(0,0,0,.4);
    backdrop-filter:blur(12px);

    z-index:100;
}

/* Container */

.schedule-container{
    max-width:1200px;
    margin:auto;
}

/* Header */

.schedule-header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:30px;
}

.schedule-header h1{
    color:white;
    font-size:2rem;
}

/* Add Schedule Button */

#addScheduleBtn{
    border:none;

    padding:12px 20px;

    border-radius:12px;

    cursor:pointer;

    font-size:16px;
    font-weight:600;
}

/* Task Cards Container */

.task-list{
    display:grid;

    grid-template-columns:
    repeat(auto-fill,minmax(300px,1fr));

    gap:20px;
}

/* Card */

.task-card{
    background:white;

    border-radius:16px;

    padding:20px;

    min-height:120px;

    box-shadow:0 10px 25px rgba(0,0,0,.15);
}

.task-card h3{
    margin-bottom:10px;
}

.task-time{
    color:gray;
}


#backBtn,#taskBackBtn,#timerBackBtn{
    position:fixed;

    bottom:30px;
    left:30px;

    padding:12px 20px;

    border:none;

    border-radius:12px;

    cursor:pointer;
}
.modal-overlay{
    position:fixed;
    inset:0;

    background:rgba(0,0,0,.6);

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:1000;
}

.task-form{
    width:450px;

    background:white;

    padding:25px;

    border-radius:16px;

    box-shadow:0 10px 30px rgba(0,0,0,.2);
}

.form-header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:20px;
}

.form-header h2{
    margin:0;
}

#closeBtn{
    border:none;
    background:none;

    font-size:20px;

    cursor:pointer;
}

.input-group{
    display:flex;
    flex-direction:column;

    margin-bottom:18px;
}

.input-group label{
    margin-bottom:8px;

    font-weight:600;
}

.input-group input{
    padding:12px;

    border:1px solid #d1d5db;

    border-radius:10px;

    font-size:15px;
}

.input-group input:focus{
    outline:none;

    border-color:#2563eb;
}

.form-buttons{
    display:flex;
    justify-content:flex-end;

    gap:10px;
}

.form-buttons button{
    padding:10px 18px;

    border:none;

    border-radius:10px;

    cursor:pointer;

    font-weight:600;
}

#cancelBtn{
    background:#e5e7eb;
}

#saveBtn{
    background:#2563eb;
    color:white;
}

.hidden{
    display:none !important;
}
.schedule-card{
    position:relative;

    background:white;

    padding:20px;

    border-radius:16px;

    min-height:120px;

    box-shadow:
    0 8px 20px rgba(0,0,0,.1);

    transition:.3s;
}

.schedule-card:hover{
    transform:translateY(-4px);
}
.schedule-card h3{
    margin-bottom:12px;

    font-size:20px;

    color:#111827;
}
.time{
    color:#6b7280;

    font-size:15px;
}
.delete-btn{
    position:absolute;
    top:12px;
    right:8px;

    width:74px;
    height:30px;

    border:none;

    border-radius:50%;

    cursor:pointer;

    font-size:16px;

    background:#fee2e2;

    color:#dc2626;
}
.delete-btn:hover{
    transform:scale(1.1);
}
.task-list{
    display:grid;

    grid-template-columns:
    repeat(auto-fill,minmax(280px,1fr));

    gap:20px;
}
#goals-page{
    padding:30px;
}

.goals-container{
    display:grid;
    grid-template-columns:350px 1fr;
    gap:30px;
}

.goal-form{
    background:white;
    padding:20px;
    border-radius:16px;
    box-shadow:0 4px 12px rgba(0,0,0,.1);

    display:flex;
    flex-direction:column;
    gap:15px;
}

.goal-form input,
.goal-form textarea{
    padding:12px;
    border:1px solid #ddd;
    border-radius:10px;
}

.goal-form textarea{
    height:150px;
    resize:none;
}

#addGoalBtn{
    padding:12px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

.goals-list{
    display:grid;
    grid-template-columns:
    repeat(auto-fill,minmax(280px,1fr));

    gap:20px;
}

.goal-card{
    background:white;
    padding:20px;
    border-radius:16px;
    position:relative;

    box-shadow:0 4px 12px rgba(0,0,0,.1);
}

.goal-card h3{
    margin-bottom:10px;
}

.goal-card.completed{
    opacity:.7;
}

.goal-card.completed h3{
    text-decoration:line-through;
}

.delete-goal{
    position:absolute;
    top:10px;
    right:10px;

    border:none;
    background:none;
    cursor:pointer;
}
/* PAGE */

#goals-page{
    min-height:100vh;
    padding:40px;
    background: rgba(0, 0, 0, .4);
}

/* LAYOUT */

.goals-container{
    display:grid;
    grid-template-columns:350px 1fr;
    gap:30px;
    align-items:start;
}

/* FORM */

.goal-form{
    background:#fff;
    padding:20px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);

    display:flex;
    flex-direction:column;
    gap:18px;
}

.goal-form h2{
    font-size:2rem;
}

.goal-form input,
.goal-form textarea{
    width:100%;
    border:1px solid #d8dbe3;
    border-radius:12px;
    padding:14px;
    font-size:1rem;
}

.goal-form textarea{
    min-height:150px;
    resize:none;
}

#addGoalBtn{
    border:none;
    border-radius:12px;
    padding:14px;
    font-size:1rem;
    cursor:pointer;

    background:#4f46e5;
    color:white;
    transition:.3s;
}

#addGoalBtn:hover{
    transform:translateY(-2px);
}

/* GOALS LIST */

.goals-list{
    display:grid;
    grid-template-columns:
        repeat(auto-fill,minmax(280px,1fr));

    gap:20px;
}

/* CARD */

.goal-card{
    background:white;
    border-radius:18px;
    padding:20px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

    display:flex;
    flex-direction:column;
    gap:12px;

    position:relative;

    min-height:180px;
}

.goal-card h3{
    font-size:1.3rem;
    margin-right:30px;
}

.goal-card p{
    color:#555;
    line-height:1.5;
    word-break:break-word;
}

/* DELETE */

.delete-goal{
    position:absolute;
    top:12px;
    right:12px;

    width:32px;
    height:32px;

    border:none;
    border-radius:50%;

    cursor:pointer;

    background:#ffe5e5;
    font-size:18px;
}

/* CHECKBOX */

.goal-card label{
    margin-top:auto;

    display:flex;
    align-items:center;
    gap:8px;

    font-weight:600;
}

/* COMPLETED */

.goal-card.completed{
    opacity:.75;
}

.goal-card.completed h3,
.goal-card.completed p{
    text-decoration:line-through;
}

/* BACK BUTTON */

#goalbackBtn{
    margin-top:25px;

    border:none;
    border-radius:12px;

    padding:12px 20px;
    cursor:pointer;
}

#timer-page{
    min-height:100vh;
    background:#f4f7fb;
    padding:30px;
}

.timer-container{

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    min-height:80vh;
}

.timer-container h1{
    font-size:2.5rem;
    margin-bottom:40px;
}

.mode-buttons{
    display:flex;
    gap:15px;
    margin-bottom:50px;
}

.mode-buttons button{

    border:none;
    padding:12px 24px;

    border-radius:12px;

    cursor:pointer;

    font-size:1rem;

    transition:.3s;
}

.active-mode{
    background:#4f46e5;
    color:white;
}

.timer-display{

    font-size:7rem;
    font-weight:700;

    margin-bottom:40px;

    color:#111827;
}

.timer-controls{

    display:flex;
    gap:15px;
}

.timer-controls button{

    border:none;

    padding:14px 25px;

    border-radius:12px;

    cursor:pointer;

    font-size:1rem;

    background:#4f46e5;

    color:white;

    transition:.3s;
}

.timer-controls button:hover{
    transform:translateY(-2px);
}

#tasks-page{
    min-height:100vh;
    padding:30px;
    background:#c7ccd9;
}

.tasks-container{

    display:grid;

    grid-template-columns:
        350px 1fr;

    gap:30px;
}

.task-form-container{

    background:white;

    padding:20px;

    border-radius:20px;

    box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.task-form-container h2{
    margin-bottom:20px;
}

#addTaskForm{

    display:flex;

    flex-direction:column;

    gap:15px;
}

#addTaskForm input,
#addTaskForm textarea{

    padding:12px;

    border:1px solid #ddd;

    border-radius:10px;

    font-size:16px;
}

#addTaskForm textarea{

    height:150px;

    resize:none;
}

#addTaskForm button{

    border:none;

    background:#4f46e5;

    color:white;

    padding:12px;

    border-radius:10px;

    cursor:pointer;
}

.tasks-list{
    display:grid;
    grid-template-columns:
        repeat(auto-fill,minmax(300px,1fr));
    gap:20px;
}

.task-card{
    width: 251px;
    height: 145px;
    background:white;

    padding:20px;

    border-radius:15px;

    position:relative;

    box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.task-card.important{
    border-left:6px solid orange;
}

.task-card.completed{

    opacity:.6;

    text-decoration:line-through;
}

.task-card h3{
    margin-bottom:10px;
}

.task-actions{

    margin-top:15px;

    display:flex;

    gap:10px;
}

.task-actions button{

    border:none;

    padding:8px 12px;

    border-radius:8px;

    cursor:pointer;
}

.delete-btn{
    background:#ffdddd;
}

.edit-btn{
    background:#dbeafe;
}

.complete-btn{
    background:#dcfce7;
}
#motivation-page{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    background:linear-gradient(
        135deg,
        #0f172a,
        #1e293b
    );
}

.quote-container{
    width:700px;
    max-width:90%;
    padding:30px;
    border-radius:20px;

    background:rgba(255,255,255,0.1);

    backdrop-filter:blur(12px);

    color:white;

    box-shadow:
    0 20px 40px rgba(0,0,0,.3);

    text-align:center;
}

.quote-container h3{
    margin-bottom:20px;
    color:#facc15;
}

#quoteText{
    font-size:1.6rem;
    line-height:1.8;
    font-weight:600;
}

#quoteAuthor{
    display:block;
    margin-top:20px;
    font-size:1rem;
    color:#cbd5e1;
}

.back-btn{
    position:absolute;
    bottom:30px;
    left:30px;

    padding:10px 20px;

    border:none;
    border-radius:10px;

    cursor:pointer;
}